@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

#content {
    background: url(bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 15px;
}

#clock {
    display: none;
}

.pc {
    display: none;
}

h2 {
    text-align: center;
    color: red;
    background: rgba(10, 121, 239, 0.5);
    padding: 0px 20px;
}

.bold {
    font-weight: bold;
    position: relative;
    left: 15px;
}

.word {
    font-weight: bold;
    position: relative;
}

img {
    float: right;
    display: inline;
    margin: 2px;
    margin-left: 5px;
    box-shadow: 2px 2px 2px 0 gray;
}

.navli>a {
    color: #19309e;
    text-decoration: none;
    -moz-transition: 0.8s ease 0.1s;
    -o-transition: 0.8s ease 0.1s;
    -webkit-transition: 0.8s ease 0.1s;
    transition: 0.8s ease 0.1s;
}

.navli>a:hover {
    color: blue;
    text-decoration: none;
    background: rgba(109, 134, 7, 0.9);
    color: #000000;
    outline: 1px solid #ffffff;
    -moz-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    -webkit-transition: 0.5s ease 0s;
    transition: 0.5s ease 0s;
    outline: 1px solid #ffffff;
}

p {
    text-indent: 2em;
    line-height: 17px;
}

.navli {
    list-style: none;
    margin: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #C3C3C3;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #C3C3C3;
}

::-webkit-scrollbar-thumb {
    background-color: #00A1E9;
    border-radius: 10px;
}